@inherits LayoutComponentBase


<MudThemeProvider/>
<MudPopoverProvider/>
<MudDialogProvider
    Position="DialogPosition.Center"
    CloseButton="false"/>
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar>
        <span class="survey">Public Survey Form</span>
    </MudAppBar>
    <MudDrawer Open="false"> </MudDrawer>

    <MudMainContent>

       
        <NavMenu />
    

       <main>
            <article class="content px-4">
                @Body
            </article>
       </main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
    </MudMainContent>
</MudLayout>

